<h1><%= @article.title.capitalize %></h1>
<p>Content: <%= @article.content %></p>
<p><%= link_to 'Return to articles', articles_path %></p>
<p><%= link_to 'Edit this article', edit_article_path(@article) %></p>
<p><%= link_to "Delete", article_path(@article), method: :delete %></p>
